## Valid Sudoku

In [2]:
import numpy as np

In [22]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [23]:
b = np.sum(s, axis=1)
b == 45

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

In [25]:
for i in b:
    if i != 45:
        print("Sudoku is not valid")
        break
else:
    print("For rows it is valid")

For rows it is valid

In [26]:
c = np.sum(s, axis=0)
for i in c:
    if i != 45:
        print("Sudoku is not valid")
else:
    print("For column it is valid")

For column it is valid

In [27]:
p = s[0:3, 0:3]
p

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [29]:
p1 = s[0:3, 3:6]
p1

array([[6, 7, 8],
       [1, 9, 5],
       [3, 4, 2]])

In [31]:
p2 = s[0:3, 6:9]
p2

array([[9, 1, 2],
       [3, 4, 8],
       [5, 6, 7]])

In [35]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n= s[i:i+3, j:j+3]
        print(n.sum())

45
45
45
45
45
45
45
45
45

## General Questions

In [96]:
# Columns: Age, Math marks, Science Marks
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

#### Get the shape of the matrix

In [97]:
data.shape

(5, 3)

#### find the average age of students

In [98]:
np.mean(data[:,0])

np.float64(18.4)

In [99]:
data[:,0]

array([18, 19, 17, 18, 20])

#### Extract Math marks of all students

In [100]:
math_marks = data[:, 1:2]
sum_math = math_marks
math_marks

array([[85],
       [92],
       [76],
       [65],
       [90]])

In [101]:
np.sum(sum_math)

np.int64(408)

#### Find the highest science marks

In [102]:
science_marks = data[:, 2]
science_marks

array([78, 88, 95, 70, 85])

In [103]:
np.max(science_marks)

np.int64(95)

#### Get details of the students who scored more than 90 in Math

In [104]:
data[data[:, 1] >= 90]

array([[19, 92, 88],
       [20, 90, 85]])

#### Increase Math marks of all students by 4

In [105]:
data[:,1] += 4
data

array([[18, 89, 78],
       [19, 96, 88],
       [17, 80, 95],
       [18, 69, 70],
       [20, 94, 85]])

#### Find how many students are younger than 19

In [106]:
younger_student = data[data[:, 0] < 19]
younger_student

array([[18, 89, 78],
       [17, 80, 95],
       [18, 69, 70]])

In [107]:
len(younger_student)

3

#### Calculate the average marks in each subject column-wise mean

In [108]:
data[:, 1:]

array([[89, 78],
       [96, 88],
       [80, 95],
       [69, 70],
       [94, 85]])

In [109]:
np.mean(data[:,1:], axis=0)

array([85.6, 83.2])

#### Get data of students who scored at least 80 in both subject

In [110]:
data[:, 1:]

array([[89, 78],
       [96, 88],
       [80, 95],
       [69, 70],
       [94, 85]])

In [111]:
data[(data[:,1] >= 80) & (data[:,2] >= 80)]

array([[19, 96, 88],
       [17, 80, 95],
       [20, 94, 85]])

#### Replace all science marks < 75 with 0

In [112]:
data

array([[18, 89, 78],
       [19, 96, 88],
       [17, 80, 95],
       [18, 69, 70],
       [20, 94, 85]])

In [114]:
data[:,2][data[:,2] < 75] = 0
data

array([[18, 89, 78],
       [19, 96, 88],
       [17, 80, 95],
       [18, 69,  0],
       [20, 94, 85]])